---
---



// Includes all generic element definitions
// like pargraphs, links, etc...
@import "_general";
@import "_mixins";




//
// Specific elements
//



// The big header image
h1#katokami {
  @include replace-text(url('../image/header.jpg'));
  height: 40rem;

  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
  position: relative;

  &:after {
    content: '';
    width: 370px;
    height: 370px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    margin-left: -(370px/2);
    background: url('../image/header_logo.png') no-repeat center center;
  }
}




// Navigation
#main-nav {
  background: #fff;
  top: 0px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;

  z-index: 10000;

  text-align: center;

  li {
    display: inline-block;
  }

  li.social {
    a {
      padding: 0.0.5em;
    }
    &.facebook {
      padding-left: 2em;
    }
  }

  a {
    background: none;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    line-height: 2em;
    padding: 0 1em;
    
    span {
      display: none;
    }
  }

  i {
    position: relative;
    top: 2px;
    color: #808080;
    font-size: 2rem;
    line-height: 1.5rem;
    vertical-align: middle;
  }

}





// The first intro paragraph
p#intro {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;
  text-transform: uppercase;
  max-width: 45rem;
  margin: 6rem auto 12rem;
}



// The kits
#kits {
  padding-left: 0;
  padding-right: 0;

  .kit {

    position: relative;
    margin-top: 10rem;


    .image, .details {
      vertical-align: top;
    }

    // To account for the image.
    min-height: 900px;

    margin-left: auto;
    margin-right: auto;
    overflow: visible;


    &:nth-child(even) {
      .details {
        right: 30%;
      }
      .image {
        left: 80%;
        text-align: right;
        img {
          right: 8rem;
        }
      }
    }
    &:nth-child(odd) {
      .details {
        left: 30%;
      }
      .image {
        right: 80%;
        text-align: left;
        img {
          left: 8rem;
        }
      }
    }



    .image {
      position: absolute;
      top: 0;
      img {
        position: relative;
      }
    }

    .details {
      position: absolute;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-width: 28rem;

      text-align: justify;

      // Make sure the text is over the image.
      z-index: 100;

      h1 {
        border-top: 2px dashed black;
        padding-top: 5rem;
      }

      li.size-cm,
      li.tools,
      li.contents {
        margin-top: 1.5em;
      }

      ul.stats {
        li {
          color: #444;
          .name {
            color: black;
            &:after {
              content: ': ';
            }
            margin-right: 0.3em;
          }
        }
      }

      .links {
        margin-top: 3rem;
        a {
          text-transform: uppercase;
        }
      }

    }

    &.moustache .image { top: 2rem; }
    &.gelati .image { top: 4rem; }

    @include clearfix;

  }

}




// About and help

#about, #help {
  padding: 0;
  .separator {
    .cell {
      float: left;
      width: 25%;
      img {
        display: block;
        width: 100%;
      }
    }
    width: 100%;
    @include clearfix;
  }
  
  section {
    position: relative;
    .text {
      padding: 3rem;
      width: 50%;
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
    &:after {
      content: "";
      width: 50%;
      background: #ddd;
      background-size: cover;
      background-position: center;
    }
    @include clearfix;

    &:nth-child(even) {
      .text {
        float: left;
      }
    }
    &:nth-child(odd) {
      .text {
        float: right;
      }
    }

  }
}

@media (min-width: 1266px) {
  #about, #help {
    section {
      &:after {
        padding-bottom: 50%;
      }
      &:nth-child(even) {
        &:after {
          float: right;
        }
      }
      &:nth-child(odd) {
        &:after {
          float: left;
        }
      }
    }
  }
}

@media (max-width: 1266px) {
  #about, #help {
    section {
      &:nth-child(even) {
        &:after {
          position: absolute;
          right: 0;
          top: 0;
          left: 50%;
          bottom: 0;
        }
      }
      &:nth-child(odd) {
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          right: 50%;
          bottom: 0;
        }
      }
    }
  }
}



// About
#about {
  margin-top: 6rem;

  .about-katokami {
    &:after {
      background-image: url('../image/about/about_pulpo.jpg');
    }
  }
  .about-katokami-continued {
    &:after {
      background-image: url('../image/about/about_workplace.jpg');
    }
  }
  
}

// Help
#help {

  ul {
    li {
      &:before {
        content: "- ";
        margin-right: 0.3em;
      }
    }
  }
  
  .links {
    margin-top: 3rem;
    a {
      text-transform: uppercase;
    }
  }

  .basics {
    &:after {
      background-image: url('../image/help/training_basics.jpg');
    }
  }
  .advanced {
    &:after {
      background-image: url('../image/help/training_advanced.jpg');
    }
  }
  .repairs {
    &:after {
      background-image: url('../image/help/training_repairs.jpg');
    }
  }
  
}

