html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  background: #EAE8E7;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  min-width: 900px; }
  body > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

h1 {
  font-size: 1.4rem;
  line-height: 1.5em;
  text-transform: uppercase; }

a {
  display: inline-block;
  text-decoration: none;
  background: black;
  color: white;
  padding: 0 0.4em; }

p {
  margin: 1.5rem 0; }

h1#katokami {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/image/header.jpg?1402750760');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 40rem;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem; }

#main-nav {
  background: #fff;
  top: 0px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: 10000;
  text-align: center; }
  #main-nav li {
    display: inline-block; }
  #main-nav li.social a {
    padding: 0 0.5em; }
  #main-nav li.social.facebook {
    padding-left: 2em; }
  #main-nav a {
    background: none;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    line-height: 2em;
    padding: 0 1em; }
    #main-nav a span {
      display: none; }
  #main-nav i {
    position: relative;
    top: 2px;
    color: #808080;
    font-size: 2rem;
    line-height: 1.5rem;
    vertical-align: middle; }

p#intro {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;
  text-transform: uppercase;
  max-width: 45rem;
  margin: 6rem auto 12rem; }

#kits {
  padding-left: 0;
  padding-right: 0; }
  #kits .kit {
    position: relative;
    margin-top: 10rem;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    overflow: hidden;
    *zoom: 1; }
    #kits .kit .image, #kits .kit .details {
      vertical-align: top; }
    #kits .kit:nth-child(even) .details {
      right: 50%; }
    #kits .kit:nth-child(even) .image {
      left: 60%;
      text-align: right; }
      #kits .kit:nth-child(even) .image img {
        right: 8rem; }
    #kits .kit:nth-child(odd) .details {
      left: 50%; }
    #kits .kit:nth-child(odd) .image {
      right: 60%;
      text-align: left; }
      #kits .kit:nth-child(odd) .image img {
        left: 8rem; }
    #kits .kit .image {
      position: absolute;
      top: 0; }
      #kits .kit .image img {
        position: relative; }
    #kits .kit .details {
      position: absolute;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-width: 28rem;
      text-align: justify;
      z-index: 100; }
      #kits .kit .details h1 {
        border-top: 2px dashed black;
        padding-top: 5rem; }
      #kits .kit .details li.size-cm,
      #kits .kit .details li.tools,
      #kits .kit .details li.contents {
        margin-top: 1.5em; }
      #kits .kit .details ul.stats li {
        color: #444; }
        #kits .kit .details ul.stats li .name {
          color: black;
          margin-right: 0.3em; }
          #kits .kit .details ul.stats li .name:after {
            content: ': '; }
      #kits .kit .details .links {
        margin-top: 3rem; }
        #kits .kit .details .links a {
          text-transform: uppercase; }

#about, #help {
  padding: 0; }
  #about .separator, #help .separator {
    width: 100%;
    overflow: hidden;
    *zoom: 1; }
    #about .separator .cell, #help .separator .cell {
      float: left;
      width: 25%; }
      #about .separator .cell img, #help .separator .cell img {
        display: block;
        width: 100%; }
  #about section, #help section {
    overflow: hidden;
    *zoom: 1; }
    #about section .text, #help section .text {
      padding: 3rem;
      width: 50%; }
      #about section .text *:first-child, #help section .text *:first-child {
        margin-top: 0; }
      #about section .text *:last-child, #help section .text *:last-child {
        margin-bottom: 0; }
    #about section:after, #help section:after {
      content: "";
      width: 50%;
      padding-bottom: 50%;
      background: #ddd;
      -moz-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover; }
    #about section:nth-child(even) .text, #help section:nth-child(even) .text {
      float: left; }
    #about section:nth-child(even):after, #help section:nth-child(even):after {
      float: right; }
    #about section:nth-child(odd) .text, #help section:nth-child(odd) .text {
      float: right; }
    #about section:nth-child(odd):after, #help section:nth-child(odd):after {
      float: left; }

#about {
  margin-top: 6rem; }
  #about .about-katokami:after {
    background-image: url('/image/about/about_pulpo.jpg?1402757738'); }
  #about .about-katokami-continued:after {
    background-image: url('/image/about/about_workplace.jpg?1401444048'); }

#help ul li:before {
  content: "- ";
  margin-right: 0.3em; }
#help .links {
  margin-top: 3rem; }
  #help .links a {
    text-transform: uppercase; }
#help .basics:after {
  background-image: url('/image/help/training_basics.jpg?1401440654'); }
#help .advanced:after {
  background-image: url('/image/help/training_advanced.jpg?1401440642'); }
#help .repairs:after {
  background-image: url('/image/help/training_repairs.jpg?1401440626'); }

/*# sourceMappingURL=default.css.map */
