---
---

// Includes all generic element definitions
// like pargraphs, links, etc...
@import "_general";
@import "_mixins";

//
// Specific elements
//

// The big header image
h1#katokami {
  background-image: url('../image/header.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  height: 15rem;

  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: none;
  }

  img {
    width: 180px;
    height: 180px;
  }
}

// Navigation
#main-nav {
  background: #fff;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;

  z-index: 10000;

  text-align: center;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
  }

  li.social {
    a {
      padding: 0.5em;
    }
    &.facebook {
      padding-left: 2em;
    }
  }

  a {
    background: none;
    color: #808080;
    text-transform: uppercase;
    display: inline-block;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;

    span {
      display: none;
    }

    &:hover {
      color: black;
    }
  }

  svg {
    position: relative;
    color: inherit;
    line-height: 1.5rem;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    bottom: 0.1em;
  }

}

// The first intro paragraph
#intro {
  line-height: 1.5em;
  text-align: justify;
  text-transform: uppercase;
  padding: 4.5rem 1.5rem 6rem;
  p {
    border: 1px solid white;
    padding: 1.3em 1.6em;
    margin: 0 auto;
    max-width: 49rem;
  }
}

// The kits
#kits {
  background: $kits-bg-color;
  line-height: 150%;
  padding-left: 0;
  padding-right: 0;
}

// Left/Right split of image and content
.kit, .side-by-side {
  line-height: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;

  .image {
    order: 1;
    height: 15rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    order: 2;
    padding: 1.5rem 1.5rem 4.5rem;

    h1 {
      margin: 0 0 1.5rem;
      font-size: 1.3em;
    }

    //.description {
    //  text-align: justify;
    //}

    .links {
      margin-top: 3rem;
      a {
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background: $links-bg-color;
        color: $links-txt-color;
        &:hover {
          background: $links-hover-bg-color;
        }
        &:active {
          top: 1px;
        }
        padding: 0 0.4em;

        &:not(:last-of-type) {
          margin-right: 1em;
        }
      }
    }
  }
}

// About and help

#about {
  background: $about-bg-color;
}

#help {
  background: $help-bg-color;

  ul li:before {
    content: "- ";
    margin-right: 0.3em;
  }
}


@media (min-width: 500px) {
  .kit, .side-by-side {
    .image {
      height: 24rem;
    }
  }
}


@media (min-width: 610px) {
  h1#katokami {
    height: 20rem;
  }
  #main-nav {
    font-size: 1.2rem;
  }
  #intro {
    font-size: 1.2rem;
  }
  .kit, .side-by-side {
    font-size: 1.2rem;
    .details {
      padding: 3rem 3rem 6rem;
      h1 {
        margin: 0 0 3rem;
      }
    }
  }
}



@media (min-width: 900px) {
  h1#katokami {
    height: 30rem;
    img {
      width: 300px;
      height: 300px;
    }
  }
  #intro {
    font-size: 1.4rem;
  }

  .kit, .side-by-side {
    display: flex;
    flex-direction: row;

    .image, .details {
      flex: 50%;
    }

    .image {
      height: auto;
      order: 2;
    }

    .details {
      order: 1;
      padding: 3rem 3rem 6rem;
      text-align: right;
    }

    &:nth-of-type(even), &.image-left {
      .details {
        order: 2;
        text-align: left;
      }
      .image {
        order: 1;
      }
      .links a {
        &:not(:first-of-type) {
          margin-left: 1em;
        }
        &:not(:last-of-type) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  #main-nav {
    font-size: 1.4rem;
  }
  #intro {
    padding: 6rem 1.5rem 9rem;
    font-size: 1.6rem;
    p {
      max-width: 50rem;
    }
  }
  .kit, .side-by-side {
    font-size: 1.4rem;
  }
}

@media (min-width: 1266px) {
  #intro {
    padding: 9rem 1.5rem 12rem;
    font-size: 1.9rem;
    p {
      max-width: 52rem;
    }
  }
  h1#katokami {
    height: 40rem;
    img {
      width: 370px;
      height: 370px;
    }
  }
  .kit, .side-by-side {
    font-size: 1.5rem;

    .details {
      padding: 4.5rem 4.5rem 7.5rem;
    }
  }
}

@media (max-width: 1266px) {
  #about, #help {
  }
}

