---
---



// Includes all generic element definitions
// like pargraphs, links, etc...
@import "_general";
@import "_mixins";




//
// Specific elements
//



// The big header image
h1#katokami {
  @include replace-text(url('../image/header.jpg'));
  height: 40rem;

  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
  position: relative;

  &:after {
    content: '';
    width: 370px;
    height: 370px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    margin-left: -(370px/2);
    background: url('../image/header_logo.png') no-repeat center center;
  }
}




// Navigation
#main-nav {
  background: #fff;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;

  z-index: 10000;

  text-align: center;

  li {
    display: inline-block;
  }

  li.social {
    a {
      padding: 0.5em;
    }
    &.facebook {
      padding-left: 2em;
    }
  }

  a {
    background: none;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;
    
    span {
      display: none;
    }
  }

  i {
    position: relative;
    top: 2px;
    color: #808080;
    font-size: 2rem;
    line-height: 1.5rem;
    vertical-align: middle;
  }

}





// The first intro paragraph
p#intro {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: justify;
  text-transform: uppercase;
  max-width: 49rem;
  margin: 6rem auto 9rem;
  border: 1px solid white;
  padding: 1.3em 1.6em;
}


// The kits
#kits {
  background: $kits-bg-color;
  font-size: 1.5rem;
  line-height: 150%;
  padding-left: 0;
  padding-right: 0;
}


// Left/Right split of image and content
.kit, .side-by-side {
  position: relative;
  display: flex;

  .image, .details {
    flex: 50%;
  }

  .image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    padding: 3rem;
    text-align: right;

    h1 {
      margin: 0 0 3rem;
      font-size: 1.3em;
    }

    .description {
      text-align: justify;
    }

    .links {
      margin-top: 3rem;
      a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background: $links-bg-color;
        color: $links-txt-color;
        padding: 0 0.4em;

        &:not(:last-of-type) {
          margin-right: 1em;
        }
      }
    }
  }

  &:nth-of-type(even), &.image-left {
    .details {
      order: 2;
      text-align: left;
    }
    .image {
      order: 1;
    }
    .links a {
      &:not(:first-of-type) {
        margin-left: 1em;
      }
      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }
}

.kit {
  min-height: 800px;
}


// About and help

#about {
  background: $about-bg-color;
}
#help {
  background: $help-bg-color;
}


@media (min-width: 1266px) {
  #about, #help {
  }
}

@media (max-width: 1266px) {
  #about, #help {
  }
}

