---
---

<!DOCTYPE html>

<meta charset="utf-8">

<title>katokami</title>

<meta name="description" content="Katokami – Unique Papercraft Creations" />
<meta name="keywords" content="katokami,papercraft,zapper,handicraft,handicraft work">

<link rel="icon" type="image/png" href="/favicon.png">


<!-- Make sure that the website is at normal scale on mobile devices. -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
<link href="/css/default.css" rel="stylesheet" type="text/css">


<h1 id="katokami">Katokami</h1>

<p id="intro">
  Do it yourself is the basic idea behind the KATOKAMI label.
  KATOKAMI papercraft kits are unique in their distinctive 'polygonal' look
  and the fun and easy assembly.
  Pre-cut and engraved sheets of paper reduce the time needed for putting a
  model together and help to capture the essence of paper crafting: the joy
  of creating something with your own hands.
</p>


<section id="kits">

  <!-- The files are in _includes/ -->
  {% include kit-pot-flower-purple.html %}

  {% include kit-pot-flower-red.html %}

  {% include kit-cctv-camera.html %}

  {% include kit-zapper-orange.html %}

  {% include kit-zapper-gray.html %}


</section>





<p>The main web page of katokami.com is still under construction and will be accessible soon. In the meantime, please refer to the facebook page for more information.</p>

<a href="https://www.facebook.com/KatokamiPapercraft">www.facebook.com/KatokamiPapercraft</a>

<p>
  You can already order online at <a href="https://www.etsy.com/shop/katokami">our etsy store</a>.
</p>
