---
---

<!DOCTYPE html>

<meta charset="utf-8">

<title>katokami</title>

<meta name="description" content="Katokami – Unique Papercraft Creations" />
<meta name="keywords" content="katokami,papercraft,zapper,handicraft,handicraft work">

<link rel="icon" type="image/png" href="http://www.katokami.com/favicon.png">


<!-- Make sure that the website is at normal scale on mobile devices. -->
<!-- Disabled for now -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
<link href="https://fontastic.s3.amazonaws.com/cK8dycAbeXMjxPkuVDbwAW/icons.css" rel="stylesheet">
<link href="/css/default.css" rel="stylesheet" type="text/css">


<h1 id="katokami">Katokami</h1>


<nav id="main-nav">
  <ul>
    <li><a href="#kits">Kits</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#help">Help</a></li>
    <li><a href="https://www.etsy.com/shop/katokami">Shop</a></li>
    <li class="social facebook"><a target="_blank" href="https://www.facebook.com/KatokamiPapercraft"><i class="icon-social-facebook"></i><span>Facebook</span></a></li>
    <li class="social vimeo"><a target="_blank" href="http://vimeo.com/katokami"><i class="icon-social-vimeo"></i><span>Vimeo</span></a></li>
    <li class="social email"><a href="mailto:contact@katokami.com"><i class="icon-mail"></i><span>Email</span></a></li>
  </ul>
</nav>


<p id="intro">
  Do it yourself is the basic idea behind the KATOKAMI label.
  KATOKAMI papercraft kits are unique in their distinctive 'polygonal' look
  and the fun and easy assembly.
  Pre-cut and engraved sheets of paper reduce the time needed for putting a
  model together and help to capture the essence of paper crafting: the joy
  of creating something with your own hands.<br>

  <img src="/image/more_fun.jpg?v=2" alt="">
</p>




<section id="kits">

  <!-- The files are in _posts/ -->
  {% for post in site.posts %}{% if post.invisible != true %}
    {{ post.content }}
  {% endif %}{% endfor %}

</section>



<section id="about">

  <div class="separator">
    <div class="cell"><img src="/image/about/seperator1.jpg" alt=""></div>
    <div class="cell"><img src="/image/about/seperator2.jpg" alt=""></div>
    <div class="cell"><img src="/image/about/seperator3.jpg" alt=""></div>
    <div class="cell"><img src="/image/about/seperator4.jpg" alt=""></div>
  </div>


  <section class="about-katokami">
    <div class="text">
      <h1>About Katokami</h1>

      <p>
        My Name is Alexander Kvasnicka, a Vienna based digital artist. I see myself
        as part of the maker culture and therefore strive to bring digital creations
        to life so that they can be touched and manipulated with your own hands. I
        started to create selfmade papercraft designs a while ago. Soon I came to
        realize that I want to bring back this wonderful crafting experience that up
        to this point was only a long lost childhood memory.
      </p>

      <p>
        With the help of newly available digital and practical manufacturing tools I
        worked hard to start Katokami. Not only to recreate that particular
        experience but also to enhance it in numerous of ways. And I’m very happy
        that after hundreds of hours of experimenting and refining I eventually can
        call the Katokami papercraft kits a success. Apart from being beautiful to
        look at they are fun and easy to assemble as well.
      </p>
    </div>
  </section>

  <section class="about-katokami-continued">
    <div class="text">
      <p>
        The unique style of Katokami originates from the exclusive use of
        single-colored sheets of paper. These handpicked, high quality sheets from
        renowned Italian paper mill Fabriano provide long lasting, vibrant colors,
        stability as well as formability. The resulting play of form and color
        gives Katokami models their typical appearance.
      </p>

      <p>
        Also, Katokami's kits are as easy and straightforward to assemble as it
        gets. Usually you would have to cut out and fold every single part of the
        model by hand and then put them together according to tiny numbers printed
        on them. It's tedious, sometimes confusing and not very pretty. In
        contrast, Katokami provides pre-cut and engraved sheets of paper that make
        crafting way more effortless and enjoyable. Detailed instruction manuals
        show you step-by-step how to assemble the model of your choice. It helps
        you to get a feel for the paper, the glue and the assembling process in
        general. It's easy!
      </p>

      <p>
        I wish you happy crafting, Alex
      </p>

    </div>
  </section>

</section>



<section id="help">

  <div class="separator">
    <div class="cell"><img src="/image/help/seperator1.jpg" alt=""></div>
    <div class="cell"><img src="/image/help/seperator2.jpg" alt=""></div>
    <div class="cell"><img src="/image/help/seperator3.jpg" alt=""></div>
    <div class="cell"><img src="/image/help/seperator4.jpg" alt=""></div>
  </div>


  <section class="basics">
    <div class="text">
      <h1>TRAINING VIDEO ONE<br>THE BASICS</h1>

      <p>
        Got your first Katokami kit and want to double check if you got the
        instruction basics right? Then go ahead and watch this video. It covers
        all the important basics to get started:
      </p>

      <ul>
        <li>Tools needed</li>
        <li>Inside &amp; Outside</li>
        <li>Cutting</li>
        <li>Folding</li>
        <li>Gluing</li>
      </ul>

      <div class="links">
        <a target="_blank" href="http://vimeo.com/95430853">Watch</a>
      </div>
    </div>
  </section>


  <section class="advanced">
    <div class="text">
      <h1>TRAINING VIDEO TWO<br>ADVANCED TIPS</h1>

      <p>
        You are familiar with the instruction basics and want to get some
        pro-tips to make the assembly of Katokami kits even more straightforward
        and fun? This video covers following tips:
      </p>

      <ul>
        <li>Dry run</li>
        <li>Spread it</li>
        <li>Don’t panic</li>
        <li>Apply pressure</li>
        <li>Flap by flap</li>
        <li>How to get rid of glue</li>
        <li>Don’t fold the wrong way</li>
      </ul>

      <div class="links">
        <a target="_blank" href="http://vimeo.com/95430854">Watch</a>
      </div>
    </div>
  </section>

  <section class="repairs">
    <div class="text">
      <h1>TRAINING VIDEO THREE<br>REPAIRS</h1>

      <p>
        In case you put two parts together the wrong way,  here you can get some ideas on how to fix your kit.
      </p>

      <div class="links">
        <a target="_blank" href="http://vimeo.com/95430855">Watch</a>
      </div>
    </div>
  </section>

</section>
