<article class="kit">

  <div class="details">
    <h1>Pot flower red</h1>

    <p class="description">
      Like it’s purple cousin, very forgiving. Perfect for people that lack a
      green thumb. No water, no sun, just a little bit of love... and glue
      should do. Also it is quite fond of listening to adventure stories from
      around the world.
    </p>

    <ul class="stats">
      <li class="difficulty">
        <span class="name">Difficulty</span>
        Medium (assembly time ~2,5h)
      </li>

      <li class="size-cm">
        <span class="name">Size in cm (LWH)</span>
        12x16x24cm
      </li>
      <li class="size-in">
        <span class="name">Size in inches (LWH)</span>
        4x6x9"
      </li>

      <li class="tools">
        <span class="name">Tools Needed</span>
        Non-Drip Paper Glue
      </li>
      <li class="optional-tools">
        <span class="name">Optional</span>
        Craft Knife, Cutting Mat, Steel Ruler, Adhesive Tape, Good Music
      </li>

      <li class="contents">
        <span class="name">Contents</span>
        Main Kit (Six Sheets), Training Kit (One Sheet), Instructions
      </li>
    </ul>

    <div class="links">
      <a href="https://www.etsy.com/listing/190093818/pot-flower-red-do-it-yourself-papercraft?ref=shop_home_active_5">Buy now</a>
    </div>
  </div>

  <div class="image">
    <img src="/image/kits/kits_potflower_red_mainpage.jpg" alt="Photograph of red pot flower">
  </div>

</article>
