<article class="kit">

  <div class="details">
    <h1>Paper Zapper Gray</h1>

    <p class="description">
      This is a replica kit of the original dark gray version of the legendary
      lightgun from the 80s. The kits dimensions are slightly bigger than the
      real Zapper... so that it fits perfectly in your - now grown-up, slightly
      larger - hand.
    </p>

    <ul class="stats">
      <li class="difficulty">
        <span class="name">Difficulty</span>
        Hard (assembly time ~3h)
      </li>

      <li class="size-cm">
        <span class="name">Size in cm (LWH)</span>
        30x4x15cm
      </li>
      <li class="size-in">
        <span class="name">Size in inches (LWH)</span>
        12x1.5x6"
      </li>

      <li class="tools">
        <span class="name">Tools Needed</span>
        Non-Drip Paper Glue
      </li>
      <li class="optional-tools">
        <span class="name">Optional</span>
        Craft Knife, Cutting Mat, Steel Ruler, Adhesive Tape, Good Music
      </li>

      <li class="contents">
        <span class="name">Contents</span>
        Main Kit (Four Sheets), Training Kit (One Sheet), Instructions
      </li>
    </ul>

    <div class="links">
      <a href="https://www.etsy.com/listing/192772774/paper-zapper-gray-do-it-yourself?ref=listing-shop-header-1">Buy now</a>
    </div>
  </div>

  <div class="image">
    <img src="/image/kits/kits_zapper_gray_mainpage.jpg" alt="Photograph of gray zapper">
  </div>

</article>
