<article class="kit">

  <div class="details">
    <h1>Kits</h1>

    <p class="description">
      Enjoy Katokami papercraft kits the way that suits you best. Our designs are available as physical kits to order
      as well as instant downloads. With physical kits you can choose between pre-cut sheets and the conventional
      printed templates. The choice is yours!
      <br><br>

      Below is a selction of our most beloved items. To see all available products please visit our shop on
      <a href="https://www.etsy.com/shop/Katokami">Etsy</a>.
    </p>

  </div>

  <div class="image">
    <img src="/image/kits/kits_types.jpg"/>
  </div>

</article>


<article class="kit">

  <div class="details">
    <h1>Parrot</h1>

    <p class="description">
      Parrots or macaws are one of the most beautiful birds on earth. They live in rainforests and form livelong
      bonds with their mates. Beautiful and romantic! Our papercraft macaws come in two color variations and they
      feel very much at home in living rooms and nurseries.
    </p>

    <div class="links">

      <a href="https://www.etsy.com/listing/470074343/parrot-diy-papercraft-kit">Order Kit</a>
      <a href="https://www.etsy.com/listing/456967890/parrot-diy-papercraft-kit-instant">Download</a>

    </div>

  </div>

  <div class="image">
    <img src="/image/kits/kits_parrot.jpg"/>
  </div>

</article>


<article class="kit">

  <div class="details">
    <h1>Pot Flower</h1>

    <p class="description">
      Haven't you always wanted a beautiful flower that blooms all year round, has no need for water or sun and comes
      in a handy envelope? Perfect for people that lack a green thumb. No water, no sun, just a little bit of love...
      very convenient!
    </p>

    <div class="links">

      <a href="https://www.etsy.com/listing/470054763/pot-flower-diy-papercraft-kit">Order Kit</a>
      <a href="https://www.etsy.com/listing/192781541/pot-flower-diy-papercraft-kit-instant">Download</a>

    </div>

  </div>

  <div class="image">
    <img src="/image/kits/kits_potflower.jpg"/>
  </div>

</article>


<article class="kit">

  <div class="details">
    <h1>CCTV</h1>

    <p class="description">
      Want to know what your pets are doing when you aren’t at home? Well, with this kit you still can’t... but at
      least you know that they will behave! Alternatively you can send a political message to Big Brother... time to
      watch back!

    </p>

    <div class="links">

      <a href="https://www.etsy.com/listing/192783247/cctv-diy-papercraft-kit">Order Kit</a>
      <a href="https://www.etsy.com/listing/456579346/cctv-diy-papercraft-kit-instant-download">Download</a>

    </div>

  </div>

  <div class="image">
    <img src="/image/kits/kits_cctv.jpg"/>
  </div>

</article>


<article class="kit">

  <div class="details">
    <h1>SONGBIRD MOBILÈ</h1>

    <p class="description">
      Meet Margot the nuthatch, Boris the tit and last but not least... Robin the robin. This trio of European songbirds
      bring life and color to your home. They are fond of circling around cribs and beds to watch over your little ones.
    </p>

    <div class="links">

      <a href="https://www.etsy.com/listing/226410581/songbird-mobile-diy-papercraft-kit-pre">Order Kit</a>

    </div>

  </div>

  <div class="image">
    <img src="/image/kits/kits_songbird.jpg"/>
  </div>

</article>


<article class="kit">

  <div class="details">
    <h1>MOUSTACHE</h1>

    <p class="description">
      No one knows why the notorious moustache made it's huge comeback. If you don't want to groom your own "cookie
      duster", heres the chance to make one in 30 minutes. Also available as Party Pack... get two more muchachos or
      muchachas and look cool like Tom, Burt or Ned. But please don't hurt yourself!

    </p>

    <div class="links">

      <a href="https://www.etsy.com/listing/202036178/moustache-diy-papercraft-kit-pre-cut">Order Kit</a>

    </div>

  </div>

  <div class="image">
    <img src="/image/kits/kits_moustache.jpg"/>
  </div>

</article>


<article class="kit">

  <div class="details">
    <h1>BALLOON MOBILÉ</h1>

    <p class="description">
      Take to the skies with this beautiful paper mobilé. Send your preferred action figure or plush toy on an
      adventure... but please make sure to keep the foray into unknown lands in a rain-proof environment.
    </p>

    <div class="links">

      <a href="https://www.etsy.com/listing/226408311/balloon-mobile-diy-papercraft-kit">Order Kit</a>
      <a href="https://www.etsy.com/listing/470067145/balloon-mobile-diy-papercraft-kit">Download</a>

    </div>

  </div>

  <div class="image">
    <img src="/image/kits/kits_balloon.jpg"/>
  </div>

</article>
