//
// General definitions
//

@import "_reset";
@import "_mixins";
@import "_settings";


// Defining the box sizing for all elemens
*, *:before, *:after {
  box-sizing: border-box;
}


html {
  font-size: 16px;
}

// The base settings that will be inherited by
// most elements
body {
  padding: 0;
  background: #685c78;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}



// Headers
h1 {
  font-size: 1.4rem;
  line-height: 1.5em;
  text-transform: uppercase;
}




// Links
a, a:hover, a:visited {
  color: inherit;
  text-decoration: underline;
}


// Paragraphs
p {
  margin: 1.5rem 0;
}

