@import "compass";
@import "compass/reset";



// Includes all generic element definitions
// like pargraphs, links, etc...
@import "general.scss";




//
// Specific elements
//




// The big header image
h1#katokami {
  @include replace-text('header.jpg');
  height: 40rem;

  @include background-size(cover);
  background-position: center;
}



// The first intro paragraph
p#intro {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;
  text-transform: uppercase;
  max-width: 45rem;
  margin: 6rem auto 12rem;
}



// The kits
#kits {
  padding-left: 0;
  padding-right: 0;

  .kit {

    position: relative;
    margin-top: 10rem;


    .image, .details {
      vertical-align: top;
    }

    // To account for the image.
    min-height: 900px;

    margin-left: auto;
    margin-right: auto;
    overflow: visible;


    &:nth-child(even) {
      .details {
        right: 50%;
      }
      .image {
        left: 60%;
        text-align: right;
        img {
          right: 8rem;
        }
      }
    }
    &:nth-child(odd) {
      .details {
        left: 50%;
      }
      .image {
        right: 60%;
        text-align: left;
        img {
          left: 8rem;
        }
      }
    }



    .image {
      position: absolute;
      top: 0;
      img {
        position: relative;
      }
    }

    .details {
      position: absolute;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-width: 28rem;

      text-align: justify;

      // Make sure the text is over the image.
      z-index: 100;

      h1 {
        border-top: 2px dashed black;
        padding-top: 5rem;
      }

      li.size-cm,
      li.tools,
      li.contents {
        margin-top: 1.5em;
      }

      ul.stats {
        li {
          color: #444;
          .name {
            color: black;
            &:after {
              content: ': ';
            }
            margin-right: 0.3em;
          }
        }
      }

      .links {
        margin-top: 3rem;
        a {
          text-transform: uppercase;
        }
      }

    }

    @include clearfix;

  }

}




// About and help

#about, #help {
  padding: 0;
  .separator {
    .cell {
      float: left;
      width: 25%;
      img {
        display: block;
        width: 100%;
      }
    }
    width: 100%;
    @include clearfix;
  }
  
  section {
    .text {
      padding: 3rem;
      width: 50%;
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
    &:after {
      content: "";
      width: 50%;
      padding-bottom: 50%;
      background: #ddd;
      @include background-size(cover);
    }
    @include clearfix;
    
    &:nth-child(even) {
      .text {
        float: left;
      }
      &:after {
        float: right;
      }
    }
    &:nth-child(odd) {
      .text {
        float: right;
      }
      &:after {
        float: left;
      }
    }
  }
}


// About
#about {
  margin-top: 6rem;

  .about-katokami {
    &:after {
      background-image: image-url('about/about_pulpo.jpg');
    }
  }
  .about-katokami-continued {
    &:after {
      background-image: image-url('about/about_workplace.jpg');
    }
  }
  
}

// Help
#help {

  ul {
    li {
      &:before {
        content: "- ";
        margin-right: 0.3em;
      }
    }
  }
  
  .links {
    margin-top: 3rem;
    a {
      text-transform: uppercase;
    }
  }

  .basics {
    &:after {
      background-image: image-url('help/training_basics.jpg');
    }
  }
  .advanced {
    &:after {
      background-image: image-url('help/training_advanced.jpg');
    }
  }
  .repairs {
    &:after {
      background-image: image-url('help/training_repairs.jpg');
    }
  }
  
}

